:root {
  --background-color: #f9f7fe;
  --primary-button-color: #6c63ff;
  --heading-font-familiy: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --logo-font-family: "Dancing Script", cursive;
  --logo2-font-family: "Pacifico", cursive;
}

body {
  background: var(--background-color);
  text-align: center;
}
h1 {
  color: #1d0838;
  font-family: var(--heading-font-familiy);
  font-size: 96px;
  margin-top: 180px;
}
h2 {
  color: #6a6c74;
  font-size: 30px;
  font-family: var(--default-font-family);
  font-weight: lighter;
  margin: 50px;
}

p {
  font-size: 16px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.paragraph-homepage {
  padding: 30px 160px;
}

.img-front-page {
  max-width: 70%;
  border-radius: 4px;
  padding: 20px;
}
.logo2 {
  font-family: var(--logo2-font-family);
  font-size: 40px;
}
.bar-font {
  font-family: var(--default-font-family);
  font-size: 25px;
}
.icon-footer {
    color: var(--primary-button-color);
    font-size: 30px;
    margin-bottom: 30px;
}
.link-footer {
  text-decoration: none;
  color: var(--primary-button-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 40px;
    line-height: 2;
  }
  h2 {
    font-size: 20px;
  }
  .paragraph-homepage {
    padding: 30px 90px;
  }
}
